@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/dimensions";

#hourlydata-container {
  width: 100%;
  max-width: $break-mid;
  height: 250px;
  margin: 0 auto;
  padding: $padding-content;
  border-radius: $radius;
  background-color: $color-shaded-white;
  font-family: $font-primary;
}

#hourly-title {
  font-size: $font-small;
  font-weight: $font-mid-weight;
  opacity: 0.9;

  span {
    font-size: $font-medium;
    font-weight: $font-heavy-weight;
  }
}

#hourly-date {
  font-size: $font-small;
  font-weight: $font-heavy-weight;
  opacity: 0.8;
}
