$color-primary: rgb(6, 45, 94);
$color-secondary: rgb(48, 109, 174);
$color-ternary: rgb(21, 3, 56);
$color-background-secondary: rgb(88, 27, 109);

$color-muted-white: rgb(240, 239, 239);
$color-sun-orange-dark: rgb(255, 111, 0);
$color-sun-orange-light: orange;

$color-font-light: rgba(255, 255, 255, 0.926);
$color-font-dark: black;
