$main-header-height: 90px;
$sub-header-height: 40px;
$one-hour-height: 60px;

$padding-small: 20px;
$padding-medium: 100px;
$padding-large: 300px;
$padding-content: 35px;

$break-mobile: 500px;
$break-small: 800px;
$break-mid: 1100px;
$break-large: 1600px;

$radius: 7px;
