@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/dimensions";

.extendeddetail-container {
  width: 50%;
  padding-top: $padding-small;
  display: flex;
}

.extra-icon {
  color: $color-secondary;
  margin-right: $padding-small;
}

.extra-data {
  font-size: $font-bity;
  font-weight: $font-heavy-weight;
  font-family: $font-primary;
}

@media (min-width: $break-small) {
  .extendeddetail-get-smaller {
    width: 25%;
  }
}
