@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/dimensions";

.dayextra-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: $padding-small;
}

.day-extended-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid $color-shaded-white;
  border-radius: $radius;
  padding: 0 $padding-small $padding-small $padding-small;
  margin-top: $padding-small;
}

.day-extended-wrapper {
  display: flex;
}

.always-divider {
  width: 100%;
  height: 1px;
  background-color: $color-shaded-white;
  margin-top: $padding-small;
}

.dayextra-header {
  font-size: $font-small;

  span {
    font-weight: $font-heavy-weight;
  }
}

.extra-main-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.extra-big-temp {
  font-size: $font-huge;
  font-weight: $font-heavy-weight;
  padding: $padding-small 0;
}

.extra-wind-rain {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wind-or-rain {
  display: flex;
  align-items: center;
  padding: 3px 0;

  img {
    width: 24px;
    height: 24px;
  }

  .icon-text {
    font-size: $font-small;
    font-weight: $font-light-weight;
    padding-left: 5px;
  }
}

.blue-icon {
  color: $color-secondary;
}

.moon-phase {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding-top: 10px;

  p {
    margin-left: 5px;
    font-weight: $font-heavy-weight;
    font-size: $font-bity;
  }

  div {
    opacity: 0.7;
  }
}

.no-moon-phase {
  width: 100%;
  height: 0;
}

@media (min-width: $break-small) {
  .dayextra-container {
    width: 47%;
    margin-bottom: $padding-small;
  }
  .no-moon-phase {
    height: 30px;
  }
}

@media (max-width: $break-mobile) {
  .dayextra-header {
    font-size: $font-bity;
  }

  .extra-big-temp {
    font-size: $font-large;
  }

  .dayextra-container {
    padding: $padding-small 0;
  }
  .wind-or-rain {
    .icon-text {
      font-size: $font-tiny;
    }
  }
}
