@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/dimensions";

.quarterdayforecast-container {
  width: 24%;
  height: 100%;
  background-color: $color-muted-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $color-font-dark;
  font-weight: $font-heavy-weight;
  font-family: $font-primary;
}

.quarterday-title {
  font-size: $font-tiny;
  opacity: 0.5;
  margin: 0;
}

.quarterday-temp {
  font-size: $font-large;
  opacity: 0.6;
  margin: 0;
  position: relative;
  top: 10px;
}

.quarterday-precipitation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: $font-small;
    opacity: 0.6;
  }
}

@media (min-width: $break-mid) {
  .quarterday-title {
    font-size: $font-small;
  }
}
