@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/dimensions";

#templinegraph-container {
  width: 100%;
  max-width: $break-mid;
  height: 200px;
  margin: $padding-small auto 0 auto;
  padding-left: $padding-graph;
  border-radius: $radius;
  overflow: scroll;
  background-color: $color-translucent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $color-font-light;
  font-family: $font-primary;
}
