@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/dimensions";

#currentweather-container {
  width: 100%;
  max-width: $break-mid;
  height: 250px;
  margin: 0 auto;
  padding: $padding-content;
  border-radius: $radius;
  background: linear-gradient($color-primary, $color-ternary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-font-light;
  font-family: $font-primary;
}

#current-left-content,
#current-right-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#current-left-content {
  align-items: flex-start;
}

#current-right-content {
  align-items: flex-end;
  justify-content: center;
}

#current-location {
  margin: 0;
  font-size: $font-small;
  font-weight: $font-mid-weight;
  opacity: 0.7;
}

#big-temp {
  font-size: $font-giant;
  font-weight: $font-heavy-weight;
  margin: 0;
  opacity: 0.8;
}

#current-description {
  margin: 0;
  font-size: $font-medium;
  font-weight: $font-mid-weight;
  opacity: 0.7;
}

#huge-icon {
  margin: 0;
}

#min-max-temp {
  margin: 0;
  font-size: $font-medium;
  font-weight: $font-mid-weight;
  opacity: 0.7;
  text-align: center;
  position: relative;
  top: -20px;
}
