@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/dimensions";

#currentweather-container {
  width: 100%;
  max-width: $break-mid;
  height: 250px;
  margin: 0 auto;
  padding: $padding-content;
  border-radius: $radius;
  overflow: hidden;
  background-color: $color-translucent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-font-light;
  font-family: $font-primary;
}

#current-left-content,
#current-right-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#current-left-content {
  align-items: flex-start;
}

#current-right-content {
  align-items: flex-end;
  justify-content: center;
}

#current-location {
  margin: 0;
  font-size: $font-small;
  font-weight: $font-mid-weight;
  opacity: 0.8;
}

#big-temp {
  font-size: $font-giant;
  font-weight: $font-heavy-weight;
  margin: 0;
}

#current-description {
  margin: 0;
  font-size: $font-medium;
  font-weight: $font-mid-weight;
  opacity: 0.8;
}

#min-max-temp {
  margin: 0;
  font-size: $font-medium;
  font-weight: $font-mid-weight;
  opacity: 0.8;
  text-align: center;
  position: relative;
  top: -10px;
}

// Mobile query
@media (max-width: 500px) {
  #currentweather-container {
    height: 200px;
  }

  #current-location,
  #current-description {
    font-size: $font-bity;
  }

  #big-temp {
    font-size: $font-large;
  }

  #min-max-temp {
    font-size: $font-small;
  }
}
