@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/dimensions";

#mainheader-container {
  width: 100%;
  height: $main-header-height;
  background-color: $color-primary;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 0 $padding-small;
}

#app-title {
  position: absolute;
  left: $padding-small;
  top: 50%;
  transform: translateY(-50%);
  color: $color-font-light;
  font-size: $font-small;
  font-family: $font-primary;
  font-weight: $font-heavy-weight;
}

@media (max-width: $break-mobile) {
  #app-title {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  #mainheader-container {
    flex-direction: column;
    justify-content: space-around;
    padding: $padding-small;
    height: 100%;
  }
}

@media (min-width: $break-mid) {
  #mainheader-container {
    justify-content: center;
  }

  #app-title {
    left: $padding-medium;
    font-size: $font-medium;
  }
}

@media (min-width: $break-large) {
  #app-title {
    left: $padding-large;
    font-size: $font-large;
  }
}
