@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/dimensions";

#mainheader-container {
  width: 100%;
  height: $main-header-height;
  background-color: $color-primary;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 20px;
}

#app-title {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: $color-font-light;
  font-size: $font-small;
  font-family: $font-primary;
  font-weight: $font-heavy-weight;
}

@media (min-width: 800px) {
  #mainheader-container {
    justify-content: center;
  }

  #app-title {
    left: 40px;
    font-size: $font-medium;
  }
}

@media (min-width: 1200px) {
  #app-title {
    left: 90px;
    font-size: $font-large;
  }
}
