@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/dimensions";

.onehour-container {
  width: 100%;
  height: $one-hour-height;
  background-color: $color-muted-white;
  border-top: 1px solid $color-shaded-white;
  padding: 0 $padding-small;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-primary;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.onehour-extended-container {
  width: 100%;
  height: 100%;
  padding: 0 $padding-small $padding-small $padding-small;
  background: linear-gradient($color-muted-white, $color-muted-dark-white);
  cursor: pointer;
}

.onehour-leftside,
.onehour-rightside {
  display: flex;
  align-items: center;
  font-family: $font-primary;
  color: $color-font-dark;
  column-gap: 20px;
}

.onehour-rightside {
  justify-content: space-between;
}

.onehour-time {
  font-size: $font-bity;
  width: 75px;
  text-align: center;
}

.onehour-extended-title {
  font-family: $font-primary;
  font-size: $font-small;
  font-weight: $font-heavy-weight;
  color: $color-font-dark;
  padding-bottom: $padding-small;
}

.extended-container {
  width: 100%;
  height: 100%;
  padding: 0 $padding-small;
  border: 1px solid $color-shaded-white;
  border-radius: $radius;
  display: flex;
  flex-wrap: wrap;
}

.onehour-temp {
  font-size: $font-small;
  font-weight: $font-heavy-weight;
  width: 50px;
}

.onehour-more {
  font-size: $font-large;
  color: $color-secondary;
}

.onehour-rain-wind,
.onehour-rain,
.onehour-weather {
  display: flex;
  align-items: center;
}

.onehour-weather div {
  font-size: $font-bity;
  margin-left: 3px;
  width: 0;
  visibility: hidden;
}

.onehour-rain img {
  width: 30px;
  height: 30px;
}

.onehour-rain div {
  font-size: $font-bity;
  font-weight: $font-light-weight;
  margin-left: 3px;
  width: 40px;
  opacity: 0.8;
}

.onehour-wind {
  visibility: hidden;
  width: 0;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.onehour-wind-icon {
  color: $color-secondary;
}

.onehour-wind-data {
  font-size: $font-bity;
  margin-left: 3px;
}

.extra-divider {
  width: 100%;
  height: 1px;
  background-color: $color-shaded-white;
}

@media (min-width: $break-small) {
  .onehour-wind {
    visibility: visible;
    width: 130px;
  }
  .onehour-rain {
    width: 70px;
  }
  .onehour-weather div {
    visibility: visible;
    width: 100%;
  }
  .onehour-extended-title {
    visibility: hidden;
    height: 0;
    padding: 0;
  }
  .extra-divider {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
