@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/dimensions";

#sunriseset-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sun-outline {
  width: 100px;
  height: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top: 4px solid $color-sun-orange-dark;
  border-left: 4px solid $color-sun-orange-dark;
  border-right: 4px solid $color-sun-orange-dark;
}

#rise-set-data {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: $font-small;
}

#rise-set-data div {
  color: $color-sun-orange-light;
  padding: 0 6px;
}

#rise-set-data p {
  line-height: $font-small;
  margin: 0;
}
